@import url(login.css);

/* VARIABLES PARA LOS COLORES */
:root
{
    --bg-body: #0F171E;
    --bg-footer: #222;
    --bg-navbar: #1A232E;
    --btn-play-color: #1399DE;
    --font-color: #FFFFFF;
    --link-active-navbar: #FFFFFF;
    --link-disable-navbar: #F2F4F6;
    --link-navbar: rgba(242, 244, 246, .9);
    --links-color: #0F79AF;
}

/* FONT IMPORTADA DESDE LOCAL */
@font-face
{
    font-family: 'Amazon Ember';
    src: url(../fonts/Amazon-Ember-Medium.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face
{
    font-family: 'Amazon Ember';
    src: url(../fonts/AmazonEmber_Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face
{
    font-family: 'Amazon Ember';
    src: url(../fonts/AmazonEmber_Light.ttf);
    font-style: lighter;
    font-weight: 300;
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background: var(--bg-body);
    font-family: 'Amazon Ember';
}

main
{
    min-height: 100vh;
}


/*ESTILOS PARA NAVBAR & FOOTER*/

.bg-navbar
{
    background: var(--bg-navbar);
    padding: 1rem 3rem;
}

.text-custom-link
{
    color: var(--links-color);
}

.img-brand-logo
{
    background-position: left 0;
    height: 2.5rem;
    position: relative;
    top: 2px;
    width: 7rem;
}

.text-nav-link
{
    color: var(--link-navbar);
    font-size: 17px;
    font-weight: normal;
}

.text-footer-link
{
    color: var(--links-color);
    text-decoration: none;
}

.text-nav-link:hover
{
    color: #FFF;
}

.text-footer-link:hover
{
    color: var(--links-color);
}


.bg-footer
{
    background: var(--bg-footer);
    color: #b1b1b1;
    font-size: 15px;
    padding: 1.5rem;
}

.img-footer-logo
{
    color: var(--link-color);
    height: 2rem;
    width: 6.8125rem;
}

/*ESTIOLOS PARA CONTENIDO */
.fa-medx
{
    font-size: 1.5em;
}

.mt-custom-main
{
    margin-top: 5.2rem;
}

.bg-link
{
    background-color: var(--links-color);
}

#section-index
{
    min-height: 30rem;
}

#section-dispositives
{
    background: #fff;
}

#section-dispositives > article > h2
{
    font-size: 2.25rem;
}

#img-container-1
{
    background: #000;
    background-image: linear-gradient(to right, #000 45%, transparent 65%),
                            url(../img/index-page/amazon-article-1.jpg);
        background-position: right top;
        background-size: cover;
        height: 70vh;
        width: 100%;
}

#img-container-2
{
    background: #000;
    background-image: linear-gradient(to left, #000 45%, transparent 65%),
                            url(../img/index-page/amazon-article-2.jpg);
        background-position: left top;
        background-size: cover;
        height: 70vh;
}

/*ESTILOS RESPONSIVE*/
@media screen and (max-width: 768px)
{
    .bg-navbar
    {
        padding: .5rem .75rem;
    }

    .bg-footer
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px)
{
    #img-container-1
    {
        background-image: linear-gradient(to top, #000 0, transparent 20%),
                            url(../img/index-page/amazon-article-1.jpg);
        background-position: right top;
        background-size: cover;

    }

    #img-container-2
    {
        background-image: linear-gradient(to top, #000 0, transparent 20%),
                            url(../img/index-page/amazon-article-2.jpg);
        background-position: left top;
        background-size: cover;
    }

    .info-article
    {
        background: #000;
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 1025px)
{
    .info-article
    {
        background: none;
        position: absolute;
        z-index: 1;
    }

    #article-1
    {
        padding-right: 60%;
        padding-left: 5%;
        left: 0;
    }

    #article-2
    {
        padding-left: 60%;
        padding-right: 5%;
        right: 0;
    }
}
